<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- <rewrite>
            <rewriteMaps>
                <rewriteMap name="StaticRewrites">
                    <add key="/article" value="/article.aspx?id=1&amp;title=some-title" />
                    <add key="/some-title" value="/article.aspx?id=1&amp;title=some-title" />
                    <add key="/post/some-title.html" value="/article.aspx?id=1&amp;title=some-title" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="Rewrite Rule">
                    <match url=".*" />
                    <conditions>
                        <add input="{StaticRewrites:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="index.php" />
            </files>
        </defaultDocument> -->
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="StaticRewrites" defaultValue="">
                    <add key="/construindo/pt/login" value="/construindo-latam/login" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="RewriteMap Rule">
                    <match url=".*" />
                    <conditions>
                        <add input="{StaticRewrites:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>