@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Auth</title>
</head>
<body>

    @if (@Model)
    {
        <span>Usuário autenticado.</span>
    }
    else
    {
        <span>Não foi possível autenticar.</span>
    }

</body>
</html>