317
msgid "You are not allowed to edit this page."
msgstr "Não pode editar esta página."

#: wp-admin/includes/ajax-actions.php:1085
#: wp-admin/includes/ajax-actions.php:1328 wp-admin/includes/post.php:158
#: wp-admin/includes/post.php:1320 wp-admin/press-this.php:35
#: wp-admin/upload.php:62
msgid "You are not allowed to edit this post."
msgstr "Não pode editar este artigo."

#: wp-admin/includes/ajax-actions.php:1336
msgid "Saving is disabled: %s is currently editing this page."
msgstr "Salvar está desactivado: %s está neste momento a editar esta página."

#: wp-admin/includes/ajax-actions.php:1336
msgid "Saving is disabled: %s is currently editing this post."
msgstr "Salvar está desactivado: %s está neste momento a editar este artigo."

#: wp-admin/edit-tags.php:259 wp-admin/includes/ajax-actions.php:1405
#: wp-admin/includes/ajax-actions.php:1412
msgid "Item not updated."
msgstr "Item não actualizado."

#: wp-admin/includes/ajax-actions.php:1452
#: wp-admin/includes/class-wp-posts-list-table.php:282
#: wp-admin/includes/class-wp-posts-list-table.php:753
msgid "Date"
msgstr "Data"

#: wp-admin/edit-form-comment.php:74 wp-admin/includes/ajax-actions.php:1452
#: wp-admin/includes/class-wp-posts-list-table.php:953
msgid "Status"
msgstr "Estado"

#: wp-adm