<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataTransfer" type="DataTransfer.ConfigSections.DataTransferSection, DataTransfer"/>
  </configSections>

  <dataTransfer>
    <transfers>
      <!--<transfer invariantName="TrollerToBMR" enable="false">
        <from
          isFtp="true"
          host="ftp://32.96.241.19"
          path="/FTPTroller/UNUMDBM"
          port="21"
          userName="automation"
          password="Wunderman2008"
          deleteAfter="false" />
        <to
          isFtp="true"
          host="ftp://189.125.19.61"
          path="/UNUM"
          port="21"
          userName="l3ftp61"
          password="W31c0mE!" />
      </transfer>-->
      <!--<transfer invariantName="TransferOne" enable="false">
        <from
          path="C:\development\datatransfer\ServerOne\FileOne.txt"
          deleteAfter="true" />
        <to
          path="C:\development\datatransfer\ServerTwo" />
      </transfer>-->
      <!--<transfer 
        invariantName="TestTransfer"
        enable="true"
        fromEmptyWarningEnable="true"
        fromEmptyWarningTo=""
        fromEmptyWarningCc=""
        fromEmptyWarningSubject=""
        fromEmptyWarningBody="">-->
        
        <!-- Servidor ou caminho físico para Servidor ou caminho físico -->
        <!-- Arquivo único -->
        <!--<from
          path="C:\development\datatransfer\ServerOne\FileOne.txt"
          deleteAfter="true" />
        <to
          path="C:\development\datatransfer\ServerTwo\Test" />-->

        <!-- Arquivo único com nome personalizado -->
        <!--<from
          path="C:\development\datatransfer\ServerOne\FileOne.txt"
          deleteAfter="true" />
        <to
          path="C:\development\datatransfer\ServerTwo\Test.txt" />-->

        <!-- Cópia de tudo mantendo a estrutura  no destino -->
        <!--<from
          path="C:\development\datatransfer\ServerOne"
          deleteAfter="true" />
        <to
          path="C:\development\datatransfer\ServerTwo"
          maintainStructure="true" />-->

        <!-- Cópia de tudo sem manter a estrutura no destino -->
        <!--<from
          path="C:\development\datatransfer\ServerOne"
          deleteAfter="true" />
        <to
          path="C:\development\datatransfer\ServerTwo"
          maintainStructure="false" />-->

        <!-- Cópia de tudo mantendo a estrutura no destino e definindo nome de arquivo personalizado no destino -->
        <!--<from
          path="C:\development\datatransfer\ServerOne" />
        <to
          path="C:\development\datatransfer\ServerTwo\Test.txt"
          maintainStructure="true" />-->

        <!-- Cópia de tudo sem manter a estrutura no destino e definindo nome de arquivo personalizado no destino -->
        <!--<from
          path="C:\development\datatransfer\ServerOne"
          deleteAfter="true" />
        <to
          path="C:\development\datatransfer\ServerTwo\Test.txt" />-->

        
        <!-- Servidor ou caminho físico para ftp -->
        <!-- Arquivo único -->
        <!--<from
          path="C:\development\datatransfer\ServerOne\FileOne.txt"
          deleteAfter="true" />
        <to
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#" />-->
        
        <!-- Arquivo único com nome personalizado -->
        <!--<from
          path="C:\development\datatransfer\ServerOne\FileOne.txt"
          deleteAfter="true" />
        <to
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer/Test.txt"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#" />-->
        
        <!-- Cópia de tudo mantendo a estrutura no destino -->
        <!--<from
          path="C:\development\datatransfer\ServerOne"
          deleteAfter="true" />
        <to
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#"
          maintainStructure="true" />-->
          
        <!-- Cópia de tudo sem manter a estrutura -->
        <!--<from
          path="C:\development\datatransfer\ServerOne"
          deleteAfter="true" />
        <to
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#"
          maintainStructure="false" />-->
        
        <!-- Cópia de tudo mantendo a estrutura no destino e definindo nome de arquivo personalizado no destino -->
        <!--<from
          path="C:\development\datatransfer\ServerOne" />
        <to
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer/Test.txt"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#"
          maintainStructure="true" />-->
        
        <!-- Cópia de tudo sem manter a estrutura no destino e definindo nome de arquivo personalizado no destino -->
        <!--<from
          path="C:\development\datatransfer\ServerOne" />
        <to
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer/Test.txt"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#" />-->
        
        
        <!-- Ftp para Servidor ou Caminho Físico -->
        <!-- Arquivo único -->
        <!--<from
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer/FileOne.txt"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#"
          deleteAfter="true" />
        <to
          path="C:\development\datatransfer\ServerTwo" />-->
        
        <!-- Arquivo único com nome personalizado -->
        <!--<from
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer/FileOne.txt"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#"
          deleteAfter="true" />
        <to
          path="C:\development\datatransfer\ServerTwo\Test.txt" />-->
        
        <!-- Cópia de tudo mantendo a estrutura  no destino -->
        <!--<from
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#"
          deleteAfter="true" />
        <to
          path="C:\development\datatransfer\ServerTwo" />-->
        
        <!-- Cópia de tudo sem manter a estrutura no destino -->
        <!--<from
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#"
          deleteAfter="true" />
        <to
          path="C:\development\datatransfer\ServerTwo"
          maintainStructure="false" />-->
        
        <!-- Cópia de tudo mantendo a estrutura no destino e definindo nome de arquivo personalizado no destino -->
        <!--<from
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#"
          deleteAfter="true" />
        <to
          path="C:\development\datatransfer\ServerTwo\Test.txt"
          maintainStructure="true" />-->
        
        <!-- Cópia de tudo sem manter a estrutura no destino e definindo nome de arquivo personalizado no destino -->
        <!--<from
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#"
          deleteAfter="false" />
        <to
          path="C:\development\datatransfer\ServerTwo\Test.txt"
          maintainStructure="false" />-->
        
        
        <!-- Ftp para Ftp -->
        <!-- Arquivo único -->
        <!--<from
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer/SourceServer/FileOne.txt"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#"
          deleteAfter="true" />
        <to
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer/DestinationServer"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#" />-->
          
        <!-- Arquivo único com nome personalizado -->
        <!--<from
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer/SourceServer/FileOne.txt"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#"
          deleteAfter="true" />
        <to
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer/DestinationServer/Test.txt"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#" />-->

        <!-- Cópia de tudo mantendo a estrutura  no destino -->
        <!--<from
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer/SourceServer"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#"
          deleteAfter="true" />
        <to
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer/DestinationServer"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#" />-->

        <!-- Cópia de tudo sem manter a estrutura no destino -->
        <!--<from
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer/SourceServer"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#"
          deleteAfter="true" />
        <to
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer/DestinationServer"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#"
          maintainStructure="false" />-->
          
        <!-- Cópia de tudo mantendo a estrutura no destino e definindo nome de arquivo personalizado no destino -->
        <!--<from
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer/SourceServer"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#"
          deleteAfter="true" />
        <to
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer/DestinationServer/Test.txt"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#" />-->
          
        <!-- Cópia de tudo sem manter a estrutura no destino e definindo nome de arquivo personalizado no destino -->
        <!--<from
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer/SourceServer"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#"
          deleteAfter="false" />
        <to
          isFtp="true"
          host="ftp://www3.hmlwunderman.com.br"
          path="/wunderman/development/datatransfer/DestinationServer/Test.txt"
          port="21"
          userName="w8hmluser"
          password="K3erplUNK12#"
          maintainStructure="false" />-->
      <!--</transfer>-->
    </transfers>
  </dataTransfer>

  <appSettings>
    <add key="LOG_RELATIVE_PATH" value="\Log" />
    <add key="LOG_FILE_NAME" value="TransferLog" />
    <add key="LOG_EMAIL_SUBJECT" value="LOG :: DATATRANSFER :: ERRO" />
    <add key="LOG_EMAILS" value="thiago.carreno@wunderman.com,lucas.ce.bertin@gmail.com" />
  </appSettings>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="applications@hmlwunderman.com.br">
        <network
          host="smtp.hmlwunderman.com.br"
          userName="applications@hmlwunderman.com.br"
          password="App2015#!wun"
          port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
