<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataTransfer" type="DataTransfer.ConfigSections.DataTransferSection, DataTransfer"/>
  </configSections>

  <dataTransfer>
    <transfers>
     <!-- Transferindo para Ford -->
      <!-- Transferindo DBMCAF BKP -->
      <transfer invariantName="DBMCAF-To-WundBackup" enable="true">
        <from
          isFtp="true"
          host="ftp://32.96.241.19"
          path="/FTPFord/DBMCAF"
          port="21"
          userName="automation"
          password="Wunderman2008"
          searchPattern="*"
          deleteAfter="false" />
        <to
          path="C:\development\datatransfer\FTP_TMP\FORD\DBMCAF"
          maintainStructure="true" />
      </transfer>

      <!-- Transferindo DBMCAF Atento -->
      <transfer invariantName="DBMCAF-To-Atento" enable="false">
        <from
          isFtp="true"
          host="ftp://32.96.241.19"
          path="/FTPFord/DBMCAF"
          port="21"
          userName="automation"
          password="Wunderman2008"
          searchPattern="*"
          deleteAfter="false" />
        <to
          isFtp="true"
          host="ftp://172.22.208.32"
          path="/home/fordcaf/DBMCAF"
          port="22"
          userName="fordcaf"
          password="H171g2ha8KK!;agh)38khqe"
          maintainStructure="true" />
      </transfer>

      <!-- Transferindo CAFDBM BKP -->
      <transfer invariantName="CAFDBM-To-WundBackup" enable="false">
        <from
          isFtp="true"
          host="ftp://172.22.208.32"
          path="/home/fordcaf/CAFDBM"
          port="22"
          userName="fordcaf"
          password="H171g2ha8KK!;agh)38khqe"
          searchPattern="*"
          deleteAfter="false" />
        <to
          path="E:\FTP_TMP\CAFDBM"
          maintainStructure="true" />
      </transfer>

      <transfer invariantName="CAFDBM-To-Ford" enable="false">
        <from
          isFtp="true"
          host="ftp://172.22.208.32"
          path="/home/fordcaf/CAFDBM"
          port="22"
          userName="fordcaf"
          password="H171g2ha8KK!;agh)38khqe"
          searchPattern="*"
          deleteAfter="false" />
        <to
          isFtp="true"
          host="ftp://32.96.241.19"
          path="/FTPFord/CAFDBM"
          port="21"
          userName="automation"
          password="Wunderman2008"
          maintainStructure="true" />
      </transfer>


      <!-- Transferindo SVSDBM BKP -->
      <transfer invariantName="SVSDBM-To-WundBackup" enable="false">
        <from
          isFtp="true"
          host="ftp://32.96.241.19"
          path="/FTPFord/SVSDBM"
          port="21"
          userName="automation"
          password="Wunderman2008"
          searchPattern="*"
          deleteAfter="false" />
        <to
          path="E:\FTP_TMP\FORD\SVSDBM"
          maintainStructure="true" />
      </transfer>

      <!-- Transferindo SVSDBM Wund -->
      <transfer invariantName="SVSDBM-To-PRDWund" enable="false">
        <from
          isFtp="true"
          host="ftp://32.96.241.19"
          path="/FTPFord/SVSDBM"
          port="21"
          userName="automation"
          password="Wunderman2008"
          searchPattern="*"
          deleteAfter="false" />
        <to
          path="E:\xfer\Ford\SVSDBM\_originais"
          maintainStructure="true" />
      </transfer>
	  

	<!-- Transferindo para Troller -->
      <!-- Transferindo UNUM BKP -->
      <transfer invariantName="UNUM-To-WundBackup" enable="false">
        <from
          isFtp="true"
          host="ftp://32.96.241.19"
          path="/FTPTroller/UNUMDBM"
          port="21"
          userName="automation"
          password="Wunderman2008"
          searchPattern="*"
          deleteAfter="false" />
        <to
          path="E:\FTP_TMP\Troller\UNUM"
          maintainStructure="true" />
      </transfer>
	
      <!-- Transferindo UNUM BMR -->
      <transfer invariantName="UNUM-To-BMR" enable="false">
		  <from
			isFtp="true"
			host="ftp://32.96.241.19"
			path="/FTPTroller/UNUMDBM"
			port="21"
			userName="automation"
			password="Wunderman2008"
			searchPattern="*"
			deleteAfter="false" />
		  <to
          isFtp="true"
          host="ftp://189.125.19.61"
          path="/UNUM"
          port="21"
          userName="l3ftp61"
          password="W31c0mE!"
          maintainStructure="true" />
      </transfer>
	
      <!-- Transferindo CATDBM BKP -->
      <transfer invariantName="CATDBM-To-WundBackup" enable="false">
        <from
          isFtp="true"
          host="ftp://172.22.208.32"
          path="/home/fordcaf/Troller/CAT_Troller"
          port="22"
          userName="fordcaf"
          password="H171g2ha8KK!;agh)38khqe"
          searchPattern="*"
          deleteAfter="false" />
        <to
          path="E:\FTP_TMP\Troller\CATDBM"
          maintainStructure="true" />
      </transfer>

      <!-- Transferindo CATDBM BMR -->
      <transfer invariantName="CATDBM-To-BMR" enable="false">
        <from
          isFtp="true"
          host="ftp://172.22.208.32"
          path="/home/fordcaf/Troller/CAT_Troller"
          port="22"
          userName="fordcaf"
          password="H171g2ha8KK!;agh)38khqe"
          searchPattern="*"
          deleteAfter="false" />
        <to
          isFtp="true"
          host="ftp://189.125.19.61"
          path="/UNUM"
          port="21"
          userName="l3ftp61"
          password="W31c0mE!"
          maintainStructure="true" />
      </transfer>

	  
    </transfers>
  </dataTransfer>

  <appSettings>
    <add key="LOG_RELATIVE_PATH" value="\Log" />
    <add key="LOG_FILE_NAME" value="TransferLog" />
    <add key="LOG_EMAIL_SUBJECT" value="LOG :: DATATRANSFER :: ERRO" />
    <add key="LOG_EMAILS" value="marcelo.moraes@wunderman.com" />
  </appSettings>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="applications@hmlwunderman.com.br">
        <network
          host="smtp.hmlwunderman.com.br"
          userName="applications@hmlwunderman.com.br"
          password="App2015#!wun"
          port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
