<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathRead" value="\\wwwstaging\Drop\locale\pt-br\server-cloud\" />
    <add key="PathWrite" value="C:\development\scantest\Export\" />
    <add key="FileNameExport" value="Export" />
    <add key="ExtensionsFilter" value="*.xap,*.xaml" />
  </appSettings>
</configuration>