<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="http://www.windowslive.com.br/" value="http://windows.microsoft.com/pt-BR/hotmail/home" />
    <add key="http://www.windowslive.com.br/public/product.aspx/view/1" value="http://windows.microsoft.com/pt-BR/hotmail/home" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/13?product=1" value="http://windows.microsoft.com/pt-BR/hotmail/get-started?T1=t5" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/14?product=1" value="http://windows.microsoft.com/pt-BR/hotmail/get-started?T1=t8" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/?product=1" value="http://windows.microsoft.com/pt-BR/hotmail/get-started" />
    <add key="http://www.windowslive.com.br/public/product.aspx/view/2" value="http://windows.microsoft.com/pt-BR/messenger/home" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/82?product=2" value="http://windows.microsoft.com/pt-BR/messenger/social-updates?T1=t2" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/105?product=2" value="http://windows.microsoft.com/pt-BR/messenger/social-updates?T1=t1" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/?product=2" value="http://windows.microsoft.com/pt-BR/messenger/get-started" />
    <add key="http://www.windowslive.com.br/public/product.aspx/view/3" value="http://windows.microsoft.com/pt-BR/windows-live/photo-gallery-get-started" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/62?product=3" value="http://windows.microsoft.com/pt-BR/windows-live/photo-gallery-get-started" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/63?product=3" value="http://windows.microsoft.com/pt-BR/windows-live/photo-gallery-get-started" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/?product=3" value="http://windows.microsoft.com/pt-BR/windows-live/photo-gallery-get-started" />
    <add key="http://www.windowslive.com.br/public/product.aspx/view/4" value="http://windows.microsoft.com/pt-BR/windows-live/movie-maker-get-started" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/85?product=4" value="http://windows.microsoft.com/pt-BR/windows-live/movie-maker-get-started" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/86?product=4" value="http://windows.microsoft.com/pt-BR/windows-live/movie-maker-get-started" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/?product=4" value="http://windows.microsoft.com/pt-BR/windows-live/movie-maker-get-started" />
    <add key="http://www.windowslive.com.br/public/product.aspx/view/5" value="http://windows.microsoft.com/pt-BR/skydrive/home" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/38?product=5" value="http://windows.microsoft.com/pt-BR/skydrive/get-started?T1=t2" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/39?product=5" value="http://windows.microsoft.com/pt-BR/skydrive/get-started?T1=t3" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/?product=1" value="http://windows.microsoft.com/pt-BR/skydrive/features" />
    <add key="http://www.windowslive.com.br/public/product.aspx/view/8" value="http://windows.microsoft.com/pt-BR/windows7/looking-for-windows-calendar#section_2" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/?product=8" value="http://windows.microsoft.com/pt-BR/windows7/looking-for-windows-calendar" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/4?product=8" value="http://windows.microsoft.com/pt-BR/windows7/looking-for-windows-calendar" />
    <add key="http://www.windowslive.com.br/public/product.aspx/view/9" value="http://windows.microsoft.com/pt-BR/windows-live/profile-add-friends-from-other-networks-faq" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/34?product=9" value="http://windows.microsoft.com/pt-BR/hotmail/get-started" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/35?product=9" value="http://windows.microsoft.com/pt-BR/hotmail/get-started" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/?product=9" value="http://windows.microsoft.com/pt-BR/hotmail/get-started" />
    <add key="http://www.windowslive.com.br/public/product.aspx/view/10" value="http://windows.microsoft.com/pt-BR/windows7/looking-for-windows-mail" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/30?product=10" value="http://windows.microsoft.com/pt-BR/windows7/looking-for-windows-mail#section_1" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/31?product=10" value="http://windows.microsoft.com/pt-BR/windows7/looking-for-windows-mail#section_1" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/?product=10" value="http://windows.microsoft.com/pt-BR/windows7/looking-for-windows-mail" />
    <add key="http://www.windowslive.com.br/public/product.aspx/view/11" value="http://windows.microsoft.com/pt-BR/hotmail/get-started?T1=t4" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/53?product=11" value="http://windows.microsoft.com/pt-BR/hotmail/get-started?T1=t4" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/54?product=11" value="http://windows.microsoft.com/pt-BR/hotmail/get-started?T1=t4" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/?product=11" value="http://windows.microsoft.com/pt-BR/hotmail/get-started" />
    <add key="http://www.windowslive.com.br/public/product.aspx/view/12" value="http://windows.microsoft.com/pt-BR/windows-live/essentials-other-programs?T1=t5" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/47?product=12" value="http://windows.microsoft.com/pt-BR/windows-live/essentials-other-programs?T1=t5" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/48?product=12" value="http://windows.microsoft.com/pt-BR/windows-live/essentials-other-programs?T1=t5" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/?product=12" value="http://windows.microsoft.com/pt-BR/windows-live/essentials-other-programs?T1=t5" />
    <add key="http://www.windowslive.com.br/public/product.aspx/view/13" value="http://windows.microsoft.com/pt-BR/windows-live/photo-gallery-get-started" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/6?product=13" value="http://windows.microsoft.com/pt-BR/windows-live/photo-gallery-get-started?T1=t2" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/7?product=13" value="http://windows.microsoft.com/pt-BR/windows-live/photo-gallery-get-started?T1=t3" />
    <add key="http://www.windowslive.com.br/public/product.aspx/view/14" value="http://windows.microsoft.com/pt-BR/windows-live/windows-live-groups-create-group" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/12?product=14" value="https://login.live.com/login.srf?wa=wsignin1.0|rpsnv=11|ct=1334615555|rver=6.1.6206.0|wp=MBI_SSL_SHARED|wreply=https:%2F%2Fgroups.live.com%2F|lc=1046|id=73625" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/?product=14" value="http://windows.microsoft.com/pt-BR/windows-live/windows-live-groups-create-group" />
    <add key="http://www.windowslive.com.br/public/product.aspx/view/16" value="http://windows.microsoft.com/pt-BR/windows7/protecting-your-kids-with-family-safety" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/36?product=16" value="http://windows.microsoft.com/pt-BR/windows7/protecting-your-kids-with-family-safety#section_2" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/37?product=16" value="http://windows.microsoft.com/pt-BR/windows7/protecting-your-kids-with-family-safety#section_4" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/?product=16" value="http://windows.microsoft.com/pt-BR/windows7/protecting-your-kids-with-family-safety" />
    <add key="http://www.windowslive.com.br/public/product.aspx/view/21" value="http://windows.microsoft.com/pt-BR/windows-live/essentials-other-programs?T1=t4" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/131?product=21" value="http://windows.microsoft.com/pt-BR/windows-live/essentials-other-programs?T1=t4" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/132?product=21" value="http://windows.microsoft.com/pt-BR/windows-live/essentials-other-programs?T1=t4" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/?product=21" value="http://windows.microsoft.com/pt-BR/windows-live/essentials-other-programs?T1=t4" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/84?product=2" value="http://windows.microsoft.com/pt-BR/messenger/video-call?T1=t3" />
    <add key="http://www.windowslive.com.br/public/liveessential.aspx/" value="http://windows.microsoft.com/pt-BR/windows-live/essentials-home" />
    <add key="http://celular.windowslive.com.br/" value="http://windows.microsoft.com/pt-BR/messenger/mobile" />
    <add key="http://www.windowslive.com.br/public/product.aspx/view/2" value="http://windows.microsoft.com/pt-BR/messenger/home" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/" value="http://windows.microsoft.com/pt-BR/hotmail/get-started" />
    <add key="http://celular.windowslive.com.br/messenger.asp?produto=Messenger" value="http://windows.microsoft.com/pt-BR/messenger/mobile" />
    <add key="http://windowslive.com.br/public/product.aspx/view/2?f=0" value="http://windows.microsoft.com/pt-BR/messenger/social-updates" />
    <add key="http://windowslive.com.br/public/product.aspx/view/2?f=1" value="http://windows.microsoft.com/pt-BR/messenger/video-call?T1=t3" />
    <add key="http://windowslive.com.br/public/product.aspx/view/2?f=2" value="http://windows.microsoft.com/pt-BR/messenger/video-call?T1=t5" />
    <add key="http://windowslive.com.br/public/product.aspx/view/2?f=3" value="http://windows.microsoft.com/pt-BR/messenger/get-started?T1=t6" />
    <add key="http://windowslive.com.br/public/product.aspx/view/2?f=4" value="http://windows.microsoft.com/pt-BR/messenger/get-started?T1=t8" />
    <add key="http://windowslive.com.br/public/tip.aspx/view/110?product=2" value="http://windows.microsoft.com/pt-BR/messenger/get-started?T1=t3" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/124?product=1" value="http://windows.microsoft.com/pt-BR/hotmail/get-started?T1=t3" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/130?product=1" value="http://windows.microsoft.com/pt-BR/hotmail/hotmail-IE-better-together" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/107?product=2" value="http://windows.microsoft.com/pt-BR/messenger/get-started?T1=t6" />
    <add key="http://windowslive.com.br/public/tip.aspx/view/112?product=2" value="http://windows.microsoft.com/pt-BR/messenger/video-call?T1=t3" />
    <add key="http://www.windowslive.com.br/public/product.aspx/view/1" value="http://windows.microsoft.com/pt-BR/hotmail/home" />
    <add key="http://windowslive.com.br/public/product.aspx/view/1?f=4" value="http://windows.microsoft.com/pt-BR/hotmail/share-photos-file?T1=t3" />
    <add key="http://www.windowslive.com.br/public/product.aspx/view/1" value="http://windows.microsoft.com/pt-BR/hotmail/organize-your-inbox?T1=t2" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/15?product=1" value="http://windows.microsoft.com/pt-BR/hotmail/get-started?T1=t6" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/view/113?product=1" value="http://windows.microsoft.com/pt-BR/hotmail/get-started?t1=t3" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/?product=5" value="http://windows.microsoft.com/pt-BR/skydrive/get-started" />
    <add key="http://www.windowslive.com.br/public/product.aspx/view/2" value="http://windows.microsoft.com/pt-BR/messenger/home" />
    <add key="http://www.windowslive.com.br/public/tip.aspx/?product=13" value="http://windows.microsoft.com/pt-BR/windows-live/photo-gallery-get-started" />
    <add key="http://www.windowslive.com.br/public/windowslive.aspx/" value="http://windows.microsoft.com/pt-BR/hotmail/home" />
    <add key="http://windowslive.com.br/public/tip.aspx/view/127?product=1" value="http://windows.microsoft.com/pt-BR/hotmail/share-photos-file?t1=t2" />
    <add key="http://windowslive.com.br/public/tip.aspx/view/109?product=1" value="http://windows.microsoft.com/pt-BR/hotmail/get-started?t1=t7" />
  </appSettings>
</configuration>