<?xml version="1.0" encoding="UTF-8"?><root>		<item label="Portfolio" data="portfolio" xml="xml/portfolio.xml">			<texto>Texto</texto>				<texto>Texto2</texto>			<img>teste.jpg</img>		</item>		<item label="Agência" data="agencia" xml="xml/agencia.xml">Texto2</item>		<item label="Clientes" data="clientes" xml="xml/clientes.xml">Texto3</item>		<item label="Contato" data="contato">				<item>Pergunta 1</item>			<item>Pergunta 2</item>			<item>Pergunta 3</item>			<item>Pergunta 4</item>			</item>	</root>